/* Γενικό window */
window {
    background-color: #e4dffb;
}

.main-window{
    margin: 15px;
}

.pick-button {
    border: 1px solid #642727;
    border-radius: 5px;
    box-shadow: none;
    padding: 0;
    min-width: 100px;
    min-height: 40px;
}

.value-bar {
    padding: 0px;
}
.value-bar label {
    font-weight: bold;
}
.value-bar entry {
    background: whitesmoke;
    padding: 5px;
}
.value-bar button:hover {
    background: none;
}
.value-bar button:active {
    background: none;
}

.history_bar{
    margin: 8px;
}
.history_bar box {
    padding-bottom: 14px;
}

.magnifier-window{
    border: 1px solid gray;
}





